<div class="greetings container-sm">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">

      <h2>Bienvenido</h2>
      <p>Aca podrás ver una selección de películas</p>
      <a href="/movie/">Ver Peliculas</a>

    </div>
  </div>
</div>