*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Asap', sans-serif;
}

.main-container{
  min-height: 750px;
}

.section-footer{
  position: relative;
  bottom: 0;
  margin: 2rem 0 0 0;
  color: #ffffff;
  background-color: #001b47;
}

.section-footer a {
  text-decoration: none;
  color: rgb(224, 1, 1);
}

.footer-text {
  padding: 1rem;
}

.mainNav {
  background-color: #001b47;
  display: flex;
  justify-content: space-between;
  align-items: center;
	align-content: stretch;
}
.mainNav h2 {
  padding:2rem 0.5rem;
  color: #ffffff;
}

.mainNav-ul {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
	align-content: stretch;
}

.mainNav li {
  list-style: none;
}

.mainNav a:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  background-color: rgb(224, 1, 1);
  color: #ffffff;
}

.mainNav a{
  padding: 1rem;
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff;
}

.greetings {
  width: fit-content;
  margin: 2rem auto;
  padding: 2rem 0;
  background-color: #b0ceff;
  border-radius: 1rem;

  text-align: center;
}

.greetings a {
  padding: 1rem;
  color:rgb(224, 1, 1);
  text-decoration: none;
}

.greetings h2 {
  text-align: center;
  padding: 0.5rem ;
}

h2 {
  text-align: center;
  padding: 1rem ;
}

.greetings p {
  padding:  1rem;
}

/***** vista lista de Peliculas *****/
.sort-by {
  background-color: #1e427e ;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin: auto;
  margin-bottom: 2rem;
}
.sort-by button {
  padding: 0.5rem;
  margin: auto;
  border-radius: 1rem;
}
.sort-by button:hover {
  background-color: #b0ceff ;
  color: #ffffff;
}

.gallery {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-preview {
  min-width: 200px;
  margin: 0.5rem;
  min-height: 16rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color:#b0ceff ;

}

.movie-preview a {
  color: #000000;
  text-decoration: none;

}

.movie-preview a:hover {
  color: rgb(224, 1, 1);
  font-style: none;

}


.movie-preview img {
  display: block;
  width:50%;
  margin: auto;
}

.movie-title{
  display: block;
  margin: 0 0 1.5rem 0;
  text-align: center;
  text-decoration: none;
  color: #000000;
  min-height: 2rem ;
}

.show-detail{
  width: fit-content;
  margin: 3rem auto;
  border-radius: 1rem;
  box-shadow: 0 0 0 4px #b0ceff;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;

}

.movie-detail a{
  font-size: 1rem;
  text-decoration: none;
  color: rgb(224, 1, 1);
}

.movie-detail {
  padding: 1rem;
}

.movie-cover{
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: #b0ceff ;
  padding: 1rem;
  width: 300px;
}
.movie-cover img {
  display: block;
  width:100%;
  margin: auto;
}

.topCast{
  list-style: none;
}